<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url "signup" %}">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Login</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label for="id_username">Username:</label>
                        <input type="text" name="username" id="id_username" maxlength="150">
                    </div>
                    <div>
                        <label for="id_password">Password:</label>
                        <input type="password" name="password" id="id_password" maxlength="150">
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
        </main>
    </body>
</html>
